body {
  font-family: Roboto, sans-serif;
  background-size: cover;
  background-color: rgb(32, 47, 33);
}

img {
  object-fit: cover;
}

.write-notes-view-label {
  color: white;
  margin: 10px 0;
  padding: 5px;
  font-size: 18px;
}

/* TEXTBOX, MY NOTES LABEL AND MY NOTES FORM AND SAVE BUTTON */
.notes-save-button {
  background-color: rgb(99, 56, 13);
  color: white;
  border: none;
  height: 30px;
  width: 220px;
  border-radius: 5px;
  margin: 5px 0 0;
}

.notes-write-edit-button {
  background-color: rgb(99, 56, 13);
  color: white;
  border: none;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  margin: 5px 0 0;
}

.notes-save-div {
  display: flex;
  justify-content: right;
}

.notes-textbox {
  width: 100%;
  height: 50px;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  border: 1px solid rgb(148, 148, 148);
  padding: 3px;
}

.notes-textbox-label {
  text-align: left;
  padding: 0;
  margin-top: 50px;
  color: rgb(110, 110, 110);
}

.my-notes-form-container {
  padding: 10px;
  margin-bottom: 70px;
  margin-top: -60px;
}

/* /////////////////////////////////////DESKTOP */
@media screen and (min-width: 768px) {
  header h2 {
    margin-left: 180px;
    font-size: 15px;
  }

  header a {
    margin-right: 180px;
    font-size: 12px;
  }

  .container {
    width: 500px;
  }

  .dropdown-container {
    margin: auto;
    margin-top: 180px;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 3px;
    width: 300px;
    height: 180px;
  }

  label {
    display: block;
    margin: auto;
    text-align: center;
    padding: 50px 0 10px;
  }

  select {
    margin: auto;
    display: block;
    width: 240px;
  }

  .activity-card img {
    width: 45%;
    border-radius: 10px 0 0 10px;
  }

  .activity-card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(228, 227, 227);
    margin-bottom: 30px;
    position: relative;
  }

  .activity-card-text-container {
    padding: 25px;
  }

  .info-category,
  .activity-card-title,
  .activity-card-description {
    margin: 0 10px;
  }

  .activity-card-description {
    margin-bottom: 20px;
    background-color: rgba(89, 62, 28, 0.175);
    border-radius: 2px;
    padding: 5px;
  }

  .info-category {
    line-height: 1.5;
    padding: 0;
    margin: 0 10px 10px;
  }

  .activity-card a {
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-decoration: none;
  }

  .container h2 {
    margin: 0 10px 10px;
  }

  .selected-activity-view h1 {
    color: white;
    margin: 35px 0 15px;
    padding: 5px;
  }

  .info-category-last {
    margin-bottom: 60px;
  }

  .info-category-label {
    font-size: 20px;
    text-decoration: underline;
  }

  .home-button {
    margin-right: 50px;
  }

  .nothing-saved {
    text-align: center;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 180px;
  }

  .my-activities-view-label {
    color: white;
    margin: 35px 0 15px;
    padding: 5px;
  }
}

.container {
  width: 720px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(99, 56, 13);
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

/* ///////////////////////////////MOBILE/ */
@media screen and (max-width: 768px) {
  header h2 {
    margin-left: 20px;
    font-size: 15px;
  }

  header a {
    margin-right: 20px;
    font-size: 12px;
  }

  .container {
    width: 330px;
  }

  .dropdown-container {
    margin: auto;
    margin-top: 180px;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 3px;
    width: 220px;
    height: 130px;
  }

  label {
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px 0 10px;
  }

  select {
    margin: auto;
    display: block;
    width: 200px;
  }

  .activity-card img {
    width: 100%;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .activity-card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(228, 227, 227);
    margin: 0 0 30px;
    position: relative;
  }

  .info-category,
  .activity-card-title,
  .activity-card-description {
    margin: 0 10px;
  }

  .activity-card-description {
    margin-bottom: 20px;
    background-color: rgba(89, 62, 28, 0.175);
    border-radius: 2px;
    padding: 5px;
  }

  .info-category {
    line-height: 1.5;
    padding: 0;
    margin: 0 10px 10px;
  }

  .info-category-label {
    font-size: 20px;
    text-decoration: underline;
  }

  .activity-card a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
  }

  .container h2 {
    margin: 0 10px 10px;
  }

  .selected-activity-view h1 {
    color: white;
    margin: 5px 0;
    padding: 5px;
    font-size: 18px;
  }

  .my-activities-view-label {
    color: white;
    margin: 5px 0 -10px;
    padding: 5px;
    font-size: 18px;
  }

  .info-category-last {
    margin-bottom: 60px;
  }

  .nothing-saved {
    text-align: center;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 180px;
  }
}

.dropdown-label {
  color: white;
}

option {
  text-align: center;
}

.go-button button {
  color: white;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 5px;
  background-color: rgb(99, 56, 13);
}

.go-button {
  display: flex;
  justify-content: center;
  height: 20px;
  margin: 20px 0;
}

.go-button button:hover,
.notes-save-button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.unordered-list {
  padding: 0;
}
